<!DOCTYPE html>
<meta charset="utf-8">
<head>
<style>
#results tbody:first-of-type tr:first-child {
  background-color: #dee2e6
}

#results-tabs .tab-content {
  padding : 10px 0px;
}

#results-tabs .nav-pills > li > a {
  border-radius: 0;
}

#main-col {
  max-width: 92%;
}

@media (min-width: 1400px) {
  #main-col {
    max-width: 80%;
  }
}

.sub-stats {
  font-size: 90%;
}

tbody.sub-stats tr th:first-child {
  padding-left: 25px;
}

.name-row a:after {
  font-family:Fontawesome;
  content: '\f077';
}

.name-row a.collapsed:after {
  font-family:Fontawesome;
  content: '\f054';
}


</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.js"></script>
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
{% set base="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0" %}
<link rel="stylesheet" href="{{base}}/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="{{base}}/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

{% macro stats_row(name, toggle_name, stats, is_first, is_link) %}
    <tr>
      <th scope="row" class="name-row">
        {% if is_link and not is_first %}
          {# TODO add some :after content: \f077 .collapsed:after content: \f078 #}
          <a data-toggle="collapse" href="#{{toggle_name}}" class="collapsed"
             aria-expanded="false" aria-controls="{{toggle_name}}">
            {{ name }}
          </a>
        {% else %}
          {{ name }}
        {% endif %}
      </th>
      <td>
        {% if name in client_badges %}
          <span class="badge-row">
            {% for b, num, desc in client_badges[name] -%}
              <span class="badge {{ badge_names[b] }}" data-toggle="tooltip" title="{{desc}}">
                {{b}}
                {%- if num -%}
                  &nbsp;<span class="badge badge-light">{{num}}</span>
                {%- endif -%}
              </span>
            {%- endfor %}
          <span>
        {% endif %}
      </td>
      <td>{{ stats[0] }}</td>
      {% if is_first %}
        <td>{{ "{:,}".format(stats[1]) }} ({{ "{:.2f}".format(100 * stats[1] / 2700000000) }}%)</td>
        <td>{{ (stats[2] / 3600 / 24 / 365)|round(3) }} years</td>
      {% else %}
        <td>{{ "{:,}".format(stats[1]) }} ({{ (100 * stats[1] / relations_done) |round(1) }}% total)</td>
        <td>{{ (stats[2] / 3600 / 24)|round(1) }}</td>
      {% endif %}
      <td>{{ (stats[1] / stats[2])|round(3) }}</td>
      <td>{{ "{:,}".format(stats[4]) }}</td>
      <td>{{ stats[3] }}</td>
    </tr>
{% endmacro %}

{% macro client_stats_table(stats, type, sub_stats) -%}
<table id="results" class="table table-sm table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">{{ type }}</th>
      <th scope="col">Badges</th>
      <th scope="col"># of workunits</th>
      <th scope="col">Relations</th>
      <th scope="col">CPU-days</th>
      <th scope="col">Rel(s)/CPU-sec</th>
      <th scope="col">Relations last day</th>
      <th scope="col">Last workunit submitted</th>
    </tr>
  </thead>
    {% for name, row_stats in stats %}
      {%- set toggle_name = name|replace('<X>', '') -%}

      <tbody>
      {{ stats_row(name, toggle_name + "-toggle", row_stats, loop.first, sub_stats|length ) }}
      </tbody>

      {# Render client stats if this is host #}
      {% if sub_stats %}
        <tbody class="collapse sub-stats" id="{{toggle_name}}-toggle">
        {% for host_name, host_stats in sub_stats %}
          {% if client_hosts[host_name] == name %}
            {{ stats_row(host_name, "", host_stats, false, false) }}
          {% endif %}
        {% endfor %}
        </tbody>
      {% endif %}
    {% endfor %}
</table>
{%- endmacro %}

<body>
  <div id='main-col' class="container">
    <div class="text-center">
      <h1 class="text-center">Factoring Progress for {{number}}</h1>
      <h3>{{ eta }}</h3>
      {{banner | safe}}
    </div>
    <br>

    <div id="results-tabs">
      <table id="head-stats" class="table table-sm table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Active Hosts</th>
            <th scope="col">Active Clients</th>
            <th scope="col">Relations (24hr / total)</th>
            <th scope="col">Last Work Unit received</th>
            <th scope="col">Last Update</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ active_hosts }} (last 2h)</td>
            <td>{{ active_clients }} (last 2h)</td>
            <td>{{ rels_last_24 }} ({{ (100*rels_last_24/goal)|round(2) }}%) /<br>
                <strong>{{ relations_done }} ({{ (100*relations_done/goal)|round(2) }}%)</strong></td>
            <td>{{ last_wu }}<br>
                <strong>({{ (wu_delta_s/60)|int }} minutes ago)</strong></td>
            <td>{{ last_update }}<br>
                <strong>({{ (updated_delta_s/60)|int }} minutes ago)</strong></td>
          </tr>
        </tbody>
      </table>
      <ul class="nav nav-tabs">
        <li class="nav-item"><a href="#hosts" class="nav-link active" data-toggle="tab">Host Stats</a></li>
        <li class="nav-item"><a href="#clients" class="nav-link" data-toggle="tab">Individual Client Stats</a></li>
        <li class="nav-item"><a href="#log"     class="nav-link" data-toggle="tab">Logs</a></li>
        <li class="nav-item"><a href="#charts"  class="nav-link" data-toggle="tab">Charts</a></li>
      </ul>

      <div class="tab-content clearfix">
        <div class="tab-pane active" id="hosts">
          {{ client_stats_table( host_stats, "Host", client_stats) }}
        </div>

        <div class="tab-pane" id="clients">
          <div>These clients are joined into "Hosts" on the main tab</div>
          {{ client_stats_table( client_stats, "Client", {}) }}
        </div>

        <div class="tab-pane" id="log">
          <h3>Server ETA logs</h3>
          {% for log in eta_logs_sample|reverse %}
            <div>{{ log }}</div>
          {% endfor %}
        </div>

        <div class="tab-pane" id="charts">
          <h3>Progress</h3>
          <img src='{{ url_for("factor_progress", name=number, graph="progress") }}' />
          <img src='{{ url_for("factor_progress", name=number, graph="daily_r") }}' />
        </div>
      </div>
    </div>
  </div>
</body>
