<!DOCTYPE html>
<meta charset="utf-8">
<head>
<style>
#results tbody tr:first-child {
  background-color: #dee2e6
}

#results-tabs .tab-content {
  padding : 10px 0px;
}

#results-tabs .nav-pills > li > a {
  border-radius: 0;
}

#main-col {
  max-width: 92%
}

@media (min-width: 1400px) {
  #main-col {
    max-width: 80%
  }
}


</style>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.js"></script>
{% set base="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0" %}
<link rel="stylesheet" href="{{base}}/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="{{base}}/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</head>

{% macro client_stats_table(stats, type) -%}
<table id="results" class="table table-sm table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">{{ type }}</th>
      <th scope="col">Badges</th>
      <th scope="col"># of workunits</th>
      <th scope="col">Relations</th>
      <th scope="col">CPU-days</th>
      <th scope="col">Rel(s)/CPU-sec</th>
      <th scope="col">Relations last day</th>
      <th scope="col">Last workunit submitted</th>
    </tr>
  </thead>
  <tbody>
    {% for client, host_stat in stats %}
    <tr>
      <th scope="row">{{ client }}</th>
      <td>
        {% if client in host_badges %}
          <span class="badge-row">
            {% for b, num, desc in host_badges[client] -%}
              <span class="badge {{ badge_names[b] }}" data-toggle="tooltip" title="{{desc}}">
                {{b}}
                {%- if num -%}
                  &nbsp;<span class="badge badge-light">{{num}}</span>
                {%- endif -%}
              </span>
            {%- endfor %}
          <span>
        {% endif %}
      </td>
      <td>{{ host_stat[0] }}</td>
      {% if loop.first %}
        <td>{{ host_stat[1] }} ({{ "{:.2f}".format(100 * host_stat[1] / 2700000000) }}%)</td>
        <td>{{ (host_stat[2] / 3600 / 24 / 365)|round(3) }} years</td>
      {% else %}
        <td>{{ host_stat[1] }} ({{ (100 * host_stat[1] / relations_done) |round(1) }}% total)</td>
        <td>{{ (host_stat[2] / 3600 / 24)|round(1) }}</td>
      {% endif %}
      <td>{{ (host_stat[1] / host_stat[2])|round(3) }}</td>
      <td>{{ host_stat[4] }}</td>
      <td>{{ host_stat[3] }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{%- endmacro %}

<body>
  <div id='status'>This is iteration 6, Let me know in the thread if you want anything</div>

  <div id='main-col' class="container">
    <div class="text-center">
      <h1 class="text-center">Factoring Progress for {{number}}</h1>
      <h3>{{ eta }}</h3>
      <a href="https://www.mersenneforum.org/showthread.php?t=24292">Planning & Coordination for 2,2330L</a>
    </div>
    <br>

    <div id="results-tabs">
      <table id="head-stats" class="table table-sm table-hover">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Active Hosts</th>
            <th scope="col">Active Clients</th>
            <th scope="col">Relations (24hr / total)</th>
            <th scope="col">Last Work Unit recieved</th>
            <th scope="col">Last Update</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{ active_hosts }} (last 2h)</td>
            <td>{{ active_clients }} (last 2h)</td>
            <td>{{ rels_last_24 }} ({{ (100*rels_last_24/goal)|round(2) }}%) /<br>
                {{ relations_done }} ({{ (100*relations_done/goal)|round(2) }}%)</td>
            <td>{{ last_wu }}<br>
                <strong>({{ (wu_delta_s/60)|int }} minutes ago)</strong></td>
            <td>{{ last_update }}<br>
                <strong>({{ (updated_delta_s/60)|int }} minutes ago)</strong></td>
          </tr>
        </tbody>
      </table>
      <ul class="nav nav-tabs">
        <li class="nav-item"><a href="#hosts" class="nav-link active" data-toggle="tab">Host Stats</a></li>
        <li class="nav-item"><a href="#clients" class="nav-link" data-toggle="tab">Individual Client Stats</a></li>
        <li class="nav-item"><a href="#log"     class="nav-link" data-toggle="tab">Logs</a></li>
        <li class="nav-item"><a href="#charts"  class="nav-link" data-toggle="tab">Charts</a></li>
      </ul>

      <div class="tab-content clearfix">
        <div class="tab-pane active" id="hosts">
          {{ client_stats_table( host_stats, "hosts") }}
          <div>
            Most relations found in any workunit: <strong>{{max_relations}}</strong>
          </div>
        </div>

        <div class="tab-pane" id="clients">
          <div>These clients are joined into "hosts" on the main tab</div>
          {{ client_stats_table( client_stats, "clients") }}
        </div>

        <div class="tab-pane" id="log">
          <h3>Server ETA logs</h3>
          {% for log in random_shuf[::-1] %}
            <div>{{ log }}</div>
          {% endfor %}
        </div>

        <div class="tab-pane" id="charts">
          <h3>Progress</h3>
          <img src='{{ url_for("factor_progress", name=number, graph="progress") }}' />
          <img src='{{ url_for("factor_progress", name=number, graph="daily_r") }}' />
        </div>
      </div>
    </div>
  </div>
</body>
